<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039026751626-v4b726dn3m2ctr1qnbu2oal4l3ku7f0a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039026751626-v4b726dn3m2ctr1qnbu2oal4l3ku7f0a</string>
	<key>API_KEY</key>
	<string>AIzaSyBu1OeFZA8k8tNkwSOGRwzp2nFsF77hC4k</string>
	<key>GCM_SENDER_ID</key>
	<string>1039026751626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>socialapp-ceb53</string>
	<key>STORAGE_BUCKET</key>
	<string>socialapp-ceb53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039026751626:ios:e65b08ebe6f917a1744573</string>
</dict>
</plist>